<!DOCTYPE html>
<html>
<head>
	<title>Plata LED</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<script language="JavaScript">

		var HOST = "http://192.168.20.28/";

		function setRGB(r, g, b) {
			if (r.length == 0) {
				r = 0;
			}
			if (g.length == 0) {
				g = 0;
			}
			if (b.length == 0) {
				b = 0;
			}

			var url = HOST + 'setled?key=1243&r=' + r + '&g=' + g + '&b=' + b;

			$('#btn-set').button('loading');
	      	$("#set-label").html('&nbsp');

			$.ajax({
				url: url,
				type: 'GET',
			  	success:  function(data) {
			  		$('#btn-set').button('reset');
					
					$("#set-label").text(data == "200 OK" ? "Success!" : "Error:(");
				},
				error: function(data) {
					$('#btn-set').button('reset');
					$("#set-label").text('Error!' + JSON.stringify(data));
				}
			});
		}

		function clearRGB(form) {
			form.red.value = "";
      		form.green.value = "";
			form.blue.value = "";
			$("#set-label").html('&nbsp');
			setRGB(0, 0, 0);
		}

		function getBrightness() {
			var url = HOST + 'brightness';
			$('#btn-brigtness').button('loading');
			$("#brightness-value").text('');
			$("#get-label").html('&nbsp');
			$.ajax({
				url: url,
				type: 'GET',
			  	success:  function(data) {
					$("#brightness-value").html('<b>' + data.brightness + '</b>');
					$('#btn-brigtness').button('reset');
				},
				error: function(data) {
					$("#brightness-value").html('Error:( <br>' + JSON.stringify(data));
					$('#btn-brigtness').button('reset');
				}
			});
		}
	</script>
	
	<div class="container">
		<br><br>
		<p><b>Set RGB [0;1023]</b></p>
		<form role="form">
			<div class="row">
	    		<input class="col-xs-1" name="red" type="text" size="8" placeholder="red">
	    		<input class="col-xs-1" name="green" type="text" size="8" placeholder="green">
	    		<input class="col-xs-1" name="blue" type="text" size="8" placeholder="blue">
	    	</div>
	    	<br>
	    	<div class="row">
	 			<input type="button" onClick="setRGB(this.form.red.value, this.form.green.value, this.form.blue.value)" value="Set" id="btn-set" class="btn btn-default btn-lg col-xs-1">
	 			<input type="button" onClick="clearRGB(this.form)" value="Reset" class="btn btn-default btn-lg col-xs-2">
	 		</div>
	 		<div class="row">
	 			<br>
	 			<span id="set-label">&nbsp</span>
	 		</div>
	 	</form>

	 	<br><br>
	 	<p><b>Get brightness</b></p>
	 	<div class="row">
	 		<input id="btn-brigtness" type="button" onClick="getBrightness()" value="Get" class="btn btn-default btn-lg col-xs-1">
	 		<p id="brightness-value" class="col-xs-2"/>
	 	</div>
	 	<div class="row">
	 		<br>
	 		<span id="get-label">&nbsp</span>
	 	</div>
	</div>
 	
 	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>